@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">GSM:</span>
        <span>0465572917</span>
    </p>
    <p>
        <span class="label">Mail:</span>
        <span>nkusibob@gmail.com</span>
    </p>
</section>



<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Nkusi Robert<br />
        Groenendaalsesteenweg 117
        1560 Hoeilaart
    </p>
</section>